html{
  font-size:16px;
  font-family: "Helvetica", sans-serif;
  color: #4A4A4A;

}

/* Header Section */
header {
  position:fixed;
  z-index:100;
  top:0;
  width:100%;
  background-color:white;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:4rem;
  padding-left:1.8rem;
}

.logoimage {
   width:2rem;
   height:auto;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #4A4A4A;
  /*padding-left: 0.1rem;*/
}

.logosection{
  display:flex;
  align-items:center;
}

.navigation {
  padding-bottom:1rem;
}

.mobilenavigation {
  display:none;
}

.Washington {
    color: darkgray;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    padding-left: 0.1rem;
}

a {
  text-decoration:none;
  color: #4A4A4A;
  font-size:1rem;
  padding-right:1.8rem;
}




a:hover {
  color:red;
}

/*Main Section */

main {
  position:relative;
  z-index:10;
  top:2rem;
  background-color: #f3f3f3;
  margin-bottom:2rem;
}

.AboutSection {
  width:100%;
  background-image: url("https://github.com/jwashi01/Portfolio/blob/master/resources/images/Joshuaimage.png?raw=true");
  background-size:cover;
  background-position:right;
  height:28rem;
}

.Aboutcontent{
  width:100%;
  height:28rem;
  margin-left:0rem;
  padding-top:2rem;
  text-align:center;
  opacity:0.5;
}

.Aboutcontentmobile {
  display:none;
}

.WebDeveloper{
  padding-right:40rem;
  font-size:4rem;
  font-style:cursive;
  font-weight:bold;
  color:white;
}

.Artist {
  padding-left:40rem;
  font-size:4rem;
  color:white;
  letter-spacing:0.3rem;
  margin-bottom:0rem;
  line-height:0.5;
  font-weight:bold;
  font-style:italic;
}

.Recruiter{
  color:red;
  font-size:4rem;
  font-weight:bold;
  padding-right:10rem;
}

/* About Section */


.aboutheader {
  text-align:center;
  font-size:3rem;
}

.aboutjosh {
  padding-left:5rem;
  padding-right:5rem;
  padding-bottom:2rem;
  font-size:1.5rem;
}


/* Portfolio Section */

.Portfolio {
  text-align:center;
  font-size:3rem;
}

.PortfolioSection{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}

/*
.Excursioncontent{
  padding-left:5rem;
  padding-right:5rem;
}

.excursionabout {
  font-weight:lighter;
} */

.excursionimagesection:hover {

}

.Excursionimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.MyTimesSection:hover {
  width:100%;
}

.MyTimesSection{
  width:100%;
}

.MyTimesimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.ColmarAcademySection:hover{

}

.ColmarAcademyimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.FotomatSection:hover{

}

.Fotomatimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.TortoiseshellOpticsSection:hover{

}

.Opticsimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.TeaCozySection:hover{

}

.TeaCozyimage{
  width:95%;
  padding:2rem;
  height:auto;
}

.SecretAgentSupplySection:hover{

}

.SecretAgentSupplyimage{
  width:95%;
  height:auto;
  padding:2rem;
}

/*
.Joshua {
  width:60%;
  padding-left:2rem;
  padding-bottom:2rem;
  padding-top:2rem;
}

.joshuaimage{
 width:100%;
} */

footer {
  padding-right:1.8rem;
  padding-left:1.8rem;
  height:4rem;
  position:relative;
  z-index:2;
  top:10;
  background-color: #f3f3f3;
}

.footer {
  display:flex;
  align-items:center;
  padding-top:1.5rem;
  justify-content: space-between;
}

.email {
  font-weight:bold;
}

@media only screen and (max-width:1060px) {
  .WebDeveloper {
    padding-right:28rem;
    padding-top:2rem;
    font-size:3rem;
  }

  .Artist {
    padding-left:23rem;
    font-size:3.5rem;
  }

  /*Portfolio Section */

  .Excursionimage{
    width:93%;
  }

  .ColmarAcademyimage {
    width:93%;
  }

  .Fotomatimage {
      width:93%;
  }

  .MyTimesimage {
    width:93%;
  }

  .Opticsimage {
    width:93%;
  }

  .TeaCozyimage {
    width: 93%;
  }

  .SecretAgentSupplyimage {
    width:93%;
  }

}

@media only screen and (max-width:768px){

 /*Header Section */

header {
  padding-left:0rem;
}

 .navigation{
   display:none;
 }

 .logosection{
   display:none;
 }

 .mobilenavigation{
   width:100%;
   display:inline;
   display:flex;
   align-items:center;
   justify-content: space-around;
 }

.logoimagemobile{
  font-family:"Times New Roman", serif;
  font-size:2rem;
}

.Artmobile {
  display:none;
}

.logoimagemobile {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}


 .Art {
   display:none;
 }

.navigation {
  margin-right:1rem;
}

 a {
   text-decoration:none;
   color: #4A4A4A;
   font-size:0.88rem;
   padding-right:0.33rem;
 }

/*About Section */
  .AboutSection {
    width:100%;
    background-image: url("https://github.com/jwashi01/Portfolio/blob/master/resources/images/Joshuaimage.png?raw=true");
    background-size:cover;
    background-position:center;
    height:20rem;
  }

  .Aboutcontent{
    display:none;
  }


   .MyTimesSection{
     display:none;
   }

   .TeaCozySection {
     display:none;
   }

 /* Portfolio Section */

 .excursionimagesection{
   padding-right:2rem;
 }

.ColmarAcademySection{
  padding-right:2rem;
}

.FotomatSection{
  padding-right:2rem;
}

.TortoiseshellOpticsSection{
  padding-right:2rem;
}

.SecretAgentSupplySection{
  padding-right:2rem;
}

@media only screen and (max-width:480px){

/* Header Section */

.header {
    padding-left: 0rem;
}

.logoimagemobile {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

/* About Section */

.AboutSection {
    height: 15rem;
}

.aboutheader {
    font-size: 2rem;
}

.aboutjosh {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.4;
}


 /* Portfolio Section */
 .Portfolio {
     font-size: 2rem;
 }

   .excursionimagesection{
     display:none;
   }

/* Footer Section */

.footer {
  display:flex;
  flex-direction:column;
}



}
